@model IList<ARFood.Models.ProductosPedidos>

<link href="~/Content/IMGStyle.css" rel="stylesheet" type="text/css">
<link href="~/Content/Listas.css" rel="stylesheet" type="text/css">
<link href="~/Content/ChechkBox.css" rel="stylesheet" type="text/css"/>

@if (Model != null)
{

    <dialog id="PersonalizarDialog">
        <form method="dialog">
            <section>
                <p>
                    <label>Comentarios al Chef:</label>
                    <br />
                    <input type="hidden" id="IDPersonalizando" name="IDPersonalizando" />
                    <textarea rows="5" cols="40" id="txtPersonaliza" name="txtPersonaliza" />
                </p>
            </section>
            <section>
                <p>
                    <label>Personalizar Ingredientes</label>
                    <table>
                        <tr>
                            <td width="100px">
                                <table id="ListaPersonaliza" name="ListaPersonaliza" style="border:dashed">
                                </table>
                            </td>
                        </tr>
                    </table>
                </p>
            </section>
            <menu>
                <button id="cancel">Canelar</button>
                <button id="Aceptar" onclick="fnGuardaPedido(this)">Aceptar</button>
            </menu>
        </form>
    </dialog>

    <table width="100%" height="75px">
        <tr>
            <td>
                
            </td>
        </tr>
        <tr>
            <td width="40%" align="center">
                <a data-url="@Url.Content(string.Format("~/home/Pedido"))" class="img-responsive">
                    <input type="button" value="Procesar Orden" />
                </a>
            </td>
            <td width="25%">
                <label>Programar</label>
                <input type="datetime-local" id="ProgramarFecha" name="ProgramarFecha" width="75px">
            </td>
            <td width="5%">

            </td>
            <td width="30%">
                Total: @ViewBag.SubTotal
            </td>
        </tr>
    </table>
    <div class="list-group" style="width:100%">
        <ol id="lista5" style="width:100%">
            @foreach (var item in Model)
            {
                <li style="width:100%">
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                @item.Descripcion
                            </td>
                            <td width="10%">
                                Precio:
                            </td>
                            <td width="20%" align="right">
                                $ @item.Precio.ToString("###,##0.00") MXN
                            </td>
                            <td width="20%" align="center">
                                Cantidad: @item.Cantidad
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <input type="hidden" id="Obs_@item.ID" name="Obs_@item.ID" value="@item.Observaciones" />
                                <input type="button" id="btnstart_@item.ID" name="btnstart_@item.ID" value="Personalizar" onclick="fnProcesaPedido(this)" />
                            </td>
                            <td width="10%">
                                SubTotal:
                            </td>
                            <td width="20%" align="right">
                                $ @((item.Precio * item.Cantidad).ToString("###,##0.00")) MXN
                            </td>
                            <td width="20%" align="center">
                                <a data-url="@Url.Content(string.Format("~/home/MostrarPlatillos/{0}", item.ID * -1 ))" class="img-responsive">
                                    Quitar
                                </a>
                            </td>
                        </tr>
                    </table>
                </li>
            }
        </ol>
    </div>
}


@*<script>
    (function () {
        var updateButton = document.getElementById('updateDetails');
        var cancelButton = document.getElementById('cancel');
        var AceptarButton = document.getElementById('Aceptar');
        var PersonalizarDialog = document.getElementById('PersonalizarDialog');


         //Update button opens a modal dialog
        //updateButton.addEventListener('click', function () {
        //    alert($("updateDetails").index(this));
        //    PersonalizarDialog.showModal();
        //});

        // Form cancel button closes the dialog box
        cancelButton.addEventListener('click', function () {
            PersonalizarDialog.close();
        });

        // Form cancel button closes the dialog box
        cancelButton.addEventListener('click', function () {
            PersonalizarDialog.close();
        });

        AceptarButton.addEventListener('click', function () {
            alert(document.getElementById('txtPersonaliza').value); 
            alert(document.getElementById('idProd').value); 
            PersonalizarDialog.close();
        });
        
    })();
</script>*@

