@model IList<ARFood.Models.ProductosPedidos>

<link href="~/Content/IMGStyle.css" rel="stylesheet" type="text/css">
<link href="~/Content/Listas.css" rel="stylesheet" type="text/css">
<link href="~/Content/ChechkBox.css" rel="stylesheet" type="text/css" />
<link href="~/Content/ProgressBar.css" rel="stylesheet" type="text/css" />
<link href="~/Content/datepicker.css" rel="stylesheet" type="text/css">
<script src="~/Scripts/datepicker.js"></script>

<!-- Include English language -->
<script src="dist/js/i18n/datepicker.en.js"></script>

<head>
    <script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>
@if (Model != null)
{

    <dialog id="PersonalizarDialog">
        <form method="dialog">
            <section>
                <p>
                    <label>Comentarios al Chef:</label>
                    <br />
                    <input type="hidden" id="IDPersonalizando" name="IDPersonalizando" />
                    <input type="hidden" id="IDPerList" name="IDPerList" />
                    <textarea rows="5" cols="500" id="txtPersonaliza" name="txtPersonaliza" />
                </p>
            </section>
            <section>
                <p>
                    <label>Personalizar Ingredientes</label>
                    <table>
                        <tr>
                            <td>
                                <table id="ListaPersonaliza" name="ListaPersonaliza">
                                </table>
                            </td>
                        </tr>
                    </table>
                </p>
            </section>
            <menu>
                <button id="cancel" onclick="fnCancelPedido(this)">Canelar</button>
                <button id="Aceptar" onclick="fnGuardaPedido(this)">Aceptar</button>
            </menu>
        </form>
    </dialog>

    <dialog id="MesasDialog">
        <form method="dialog">
            <section>
                <span class="close" onclick="btnCierraMesa()">&times;</span>
            </section>
            <section>
                <div>
                    <table>
                        <tr>
                            <td >
                                <table>
                                    <tr>
                                        <td>
                                            <div class="datepicker-here" data-timepicker="true" data-language='es' onchange="CargarDisponibilidad(this)" id="MesaFecha"></div>
                                        </td>
                                    </tr>
                                    @for (int e = 0; e < 10; e++)
                                    {
                                        <tr><td><label></label></td></tr>
                                    }
                                    <tr>
                                        <td>
                                            <input type="button" id="GuardarMesaSel" name="GuardarMesaSel" onclick="SaveSeleccion(true)" value="Apartar Mesa" />
                                        </td>
                                    </tr>
                                    @for (int f = 0; f < 10; f++)
                                    {
                                        <tr><td><label></label></td></tr>
                                    }
                                    <tr>
                                        <td>
                                            <input type="button" id="CancelMesaSel" name="CancelMesaSel" onclick="SaveSeleccion(false)" value="Recoger en Sucursal" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div id="container">
                                    <script>
                                        var width = (1000-180); //window.innerWidth / 2 ;
                                        var height = window.innerHeight;

                                            function ActivaMesas(xMesas) {
                                                xElement = OrangeElements.length;
                                                var i = 0
                                                for (i = 0; i < xElement; i++) {
                                                    ElementoNuevo[OrangeElements[i]].fill('gray');
                                                }
                                                OrangeElements = [];
                                                i = 0;
                                                xMesas.forEach(function (elemento, indice, array) {
                                                    if (indice > 0) {
                                                        xElement = parseInt(elemento[1], 10) - 1;
                                                        ElementoNuevo[xElement].fill('orange');
                                                        OrangeElements[i] = xElement;
                                                        i++;
                                                    }
                                                });
                                                layer.draw();

                                            }

                                            function LoadValues() {
                                                $.ajax({
                                                    type: "POST",
                                                    traditional: true,
                                                    async: false,
                                                    cache: false,
                                                    url: '/Salon/CargarSalon',
                                                    dataType: "json",
                                                    contentType: "application/json",
                                                    success: function (Mesas) {
                                                        Mesas.forEach(function (elemento, indice, array) {
                                                            if (indice > 0) {

                                                                xElement = parseInt(elemento[0], 10) -1 ;

                                                                ElementoNuevo[xElement] = new Konva.Rect({
                                                                    x: parseInt(elemento[1], 10) - 180,
                                                                    y: parseInt(elemento[2], 10),
                                                                    width: parseInt(elemento[3], 10),
                                                                    height: parseInt(elemento[4], 10),
                                                                    fill:  'gray',
                                                                    stroke: 'black',
                                                                    strokeWidth: 4,
                                                                    opacity: 0.3,
                                                                    name: "N:" + parseInt(elemento[0], 10),
                                                                });

                                                                ElementoNuevo[xElement].on('mouseover', function () {
                                                                    this.stroke('black');
                                                                    this.strokeWidth(5);
                                                                    layer.draw();
                                                                });

                                                                ElementoNuevo[xElement].on('mouseout', function () {
                                                                    this.stroke('black');
                                                                    this.strokeWidth(1);
                                                                    layer.draw();
                                                                });

                                                                ElementoNuevo[xElement].on('click', function (event) {
                                                                    //alert('Hola' + event.target._id);
                                                                    //alert(document.getElementById('IDPedido').value);
                                                                    var NewColor = 'green';
                                                                    if ('orange' == this.fill()) {
                                                                        alert('La mesa no se encuentra disponible, favor de seleccionar otra');
                                                                    }
                                                                    else if ('green' == this.fill()) {
                                                                        this.fill('gray');
                                                                        layer.draw();
                                                                    }
                                                                    else {
                                                                        this.fill(NewColor);
                                                                        layer.draw();
                                                                    }
                                                                });

                                                                layer.add(ElementoNuevo[xElement]);

                                                                Elementotext[xElement] = new Konva.Text({
                                                                    x: parseInt(elemento[1], 10) + 10 - 180,
                                                                    y: parseInt(elemento[2], 10) + 10,
                                                                    text: (xElement + 1),
                                                                    align: "center",
                                                                    fontSize: 30,
                                                                    fontFamily: 'Calibri',
                                                                    fill: 'black'
                                                                });

                                                                layer.add(Elementotext[xElement]);
                                                                ElementoNuevo[xElement].moveToTop();
                                                            }
                                                         })
                                                     },
                                                    failure: function () {
                                                        alert('Falla al guardar el Salon');
                                                    }
                                                });
                                            }

                                            function SaveSeleccion(WillSave) {
                                                if (WillSave) {
                                                    var chkarray = [];
                                                    var i = 0;
                                                    var e = 0;
                                                    xElement = ElementoNuevo.length;
                                                    for (i = 0; i < xElement; i++) {
                                                        //alert(Object.keys(ElementoNuevo[i].attrs.fill));
                                                        if ('green' == ElementoNuevo[i].attrs.fill) {
                                                            chkarray[e] = "'" + ElementoNuevo[i].attrs.name + "'";
                                                            e++;
                                                        }
                                                    }
                                                    if (chkarray.length == 0) {
                                                        alert('Debe seleccionar al menos una mesa');
                                                        return;
                                                    }
                                                }

                                                var xParametros = '{ xMesas: [' + chkarray + '] }';
                                                alert(xParametros);
                                                $.ajax({
                                                    type: "POST",
                                                    traditional: true,
                                                    async: false,
                                                    cache: false,
                                                    url: '/Salon/SaveSeleccion',
                                                    data: xParametros,
                                                    dataType: "json",
                                                    contentType: "application/json",
                                                    success: function (algo) {
                                                        if (chkarray.length > 1) {
                                                            alert('Las mesas han sido apartadas exitosamente');
                                                        }
                                                        else if (chkarray.length == 1) {
                                                            alert('La mesa se ha apartado exitosamente')
                                                        }
                                                    },
                                                    failure: function () {
                                                        alert('Ocurrió un error al momento de guardar la información');
                                                    }
                                                });
                                                //}
                                                @*var id = document.getElementById('IDPersonalizando');
                                                dataUrl = "@Url.Content("~/Home/Index")";
                                                window.location = dataUrl;*@
                                                MesasDialog = document.getElementById('MesasDialog');
                                                MesasDialog.close();
                                            }

                                            var stage = new Konva.Stage({
                                                container: 'container',
                                                width: width,
                                                height: height,
                                            });

                                            var layer = new Konva.Layer();

                                            //var btnSeleccionar = new Konva.Rect({
                                            //    x: 10,
                                            //    y: 300,
                                            //    width: 170,
                                            //    height: 50,
                                            //    fill: 'blue',
                                            //    stroke: 'black',
                                            //    strokeWidth: 4,
                                            //    cornerRadius: [0, 5, 10, 15],
                                            //});

                                            //btnSeleccionar.on('mouseover', function () {
                                            //    this.stroke('black');
                                            //    this.strokeWidth(5);
                                            //    layer.draw();
                                            //});

                                            //btnSeleccionar.on('mouseout', function () {
                                            //    this.stroke('black');
                                            //    this.strokeWidth(1);
                                            //    layer.draw();
                                            //});

                                            //btnSeleccionar.on('click', function () {
                                            //    SaveSeleccion(true);
                                            //});

                                            //layer.add(btnSeleccionar);

                                            //var btnSeleccionarText = new Konva.Text({
                                            //    x: 20,
                                            //    y: 310,
                                            //    text: "Apartar Mesas",
                                            //    align: "center",
                                            //    fontSize: 15,
                                            //    fontFamily: 'Calibri',
                                            //    fill: 'white'
                                            //});

                                            //btnSeleccionarText.on('click', function () {
                                            //    NewElemento();
                                            //});

                                            //layer.add(btnSeleccionarText);


                                            //var btnCancelarSel = new Konva.Rect({
                                            //    x: 10,
                                            //    y: 500,
                                            //    width: 170,
                                            //    height: 50,
                                            //    fill: 'blue',
                                            //    stroke: 'black',
                                            //    strokeWidth: 4,
                                            //    cornerRadius: [0, 5, 10, 15],
                                            //});
                                            //// add the shape to the layer

                                            //btnCancelarSel.on('mouseover', function () {
                                            //    this.stroke('black');
                                            //    this.strokeWidth(5);
                                            //    layer.draw();
                                            //});

                                            //btnCancelarSel.on('mouseout', function () {
                                            //    this.stroke('black');
                                            //    this.strokeWidth(1);
                                            //    layer.draw();
                                            //});

                                            //btnCancelarSel.on('click', function () {
                                            //    SaveSeleccion(false);
                                            //});

                                            //layer.add(btnCancelarSel);

                                            //var btnCancelText = new Konva.Text({
                                            //    x: 20,
                                            //    y: 510,
                                            //    text: "Recoger en sucursal",
                                            //    align: "center",
                                            //    fontSize: 15,
                                            //    fontFamily: 'Calibri',
                                            //    fill: 'white'
                                            //});

                                            //btnCancelText.on('click', function () {
                                            //    NewElemento();
                                            //});

                                            //layer.add(btnCancelText);


                                        stage.add(layer);


                                        var ElementoImg = [];

                                        var ElementoNuevo = [];
                                        var Elementotext = [];

                                        var ElementArray = [];

                                        var ctext = [];

                                        var imageObj3 = [];
                                        var OrangeElements = [];

                                        LayoutIMG = new Konva.Image({
                                            width: 800,
                                            height: 1050,
                                        });

                                        LayoutObj = new Image();
                                        LayoutObj.onload = function () {
                                            LayoutIMG.image(LayoutObj);
                                            layer.draw();
                                        };
                                        LayoutObj.src = '/IMG/Salon/Salon1.jpg';

                                        LayerGroup = new Konva.Group({
                                            x: 0,
                                            y: 0,
                                            draggable: false,
                                        });

                                        layer.add(LayerGroup);
                                        LayerGroup.add(LayoutIMG);

                                        //imageObj.src = '/IMG/Salon/Salon1.jpg';

                                        LoadValues();
                                        BuscarDisponibilidad();
                                        layer.draw();

                                    </script>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </section>
        </form>
    </dialog>
    <div>
        <h5>
            Para procesar una orden, como primer paso ustede debe de apartar una mesa y verificar sus platillos en su orden.
            Como segundo paso debe hacer click en el boton de procesar orden.
        </h5>
        @if (ViewBag.IsMesero == null)
        {
            <table width="100%" height="75px">

                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td width="40%" align="center">
                        <input type="button" class="btn btn-secondary" value="Procesar Orden" onclick="btnSaveOrder(this)" />
                    </td>
                    <td width="25%" hidden="hidden">
                        <label>Programar</label>
                        <input type="datetime-local" id="ProgramarFecha" name="ProgramarFecha" width="75px">
                    </td>
                    <td width="5%">
                        <input type="button" class="btn btn-secondary" id="ProgramarMesa" name="ProgramarMesa" onclick="btnSelectSalon()" width="75px" value="Apartar Mesa">
                    </td>
                    <td width="30%">
                        Total: @ViewBag.SubTotal
                    </td>
                </tr>
            </table>
        }
        else
        {
            <table width="100%" height="75px">
                <tr>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td width="40%" align="center">
                        <input type="button" class="btn btn-secondary" value="Actualizar Orden" onclick="btnSaveOrder(this)" />
                    </td>
                    <td width="30%">
                        Total a Pagar: @ViewBag.SubTotal $
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="list-group" style="width:100%">
       
        <ol id="lista5" style="width:100%">
            @foreach (var item in Model)
            {
                <li style="width:100%">
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                <h5 style="color:black"> @item.Descripcion</h5>
                            </td>
                            <td width="10%">
                                <h5 style="color:black"> Precio:</h5>
                            </td>
                            <td width="20%" align="right">
                                <h5 style="color:black">  $ @item.Precio.ToString("###,##0.00") MXN </h5>
                            </td>
                            <td width="20%" align="center">
                                <h5 style="color:black"> Cantidad: @item.Cantidad</h5>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%">
                                <input type="hidden" id="Obs_@item.ID" name="Obs_@item.ID" value="@item.Observaciones" />
                                @if (item.ComplementodeProducto != null)
                                {
                                    <input type="hidden" id="TotalComplementos_@item.ID" name="TotalComplementos_@item.ID" value="@item.ComplementodeProducto.Count()" />
                                    <table>
                                        <tr>
                                            @foreach (var complemento in item.ComplementodeProducto)
                                            {
                                                <td>
                                                    <input type="hidden" id="CID_@(item.ID)_@(complemento.idComplemento)" name="CID_@(item.ID)_@(complemento.idComplemento)" value="@complemento.idComplemento" />
                                                    <input type="hidden" id="CCDES_@(item.ID)_@(complemento.idComplemento)" name="CDES_@(item.ID)_@(complemento.idComplemento)" value="@complemento.Descripcion" />
                                                    <input type="hidden" id="CCANT_@(item.ID)_@(complemento.idComplemento)" name="CCANT_@(item.ID)_@(complemento.idComplemento)" value="@complemento.cantidad" />
                                                    <input type="hidden" id="CCPRECIO_@(item.ID)_@(complemento.idComplemento)" name="CPRECIO_@(item.ID)_@(complemento.idComplemento)" value="@complemento.Precio" />
                                                </td>
                                            }
                                        </tr>
                                    </table>
                                }
                                <input type="button" class="btn btn-danger" id="btnstart_@item.ID" name="btnstart_@item.ID" value="Personalizar" onclick="fnProcesaPedido(this)" />
                            </td>
                            <td width="10%">
                                <h5 style="color:black">  SubTotal:</h5>
                            </td>
                            <td width="20%" align="right">
                                <h5 style="color:black"> $  @((item.Precio * item.Cantidad).ToString("###,##0.00")) MXN</h5>
                            </td>
                            <td width="20%" align="center">

                                <button class="btn btn-circle btn-facebook">
                                    <a data-url="@Url.Content(string.Format("~/home/MostrarPlatillos/{0}", item.ID * -1 ))" class="img-responsive">
                                        Quitar
                                    </a>
                                </button>
                            </td>
                        </tr>
                    </table>
                </li>
            }
        </ol>
    </div>
}

