@model IList<ARFood.Models.Familias>

<link href="~/Content/IMGStyle.css" rel="stylesheet" type="text/css">
@{int HW = 150; }
<label>Escoja una Familia</label>
<div class="list-group">
    @for (int i = 0; i < Model.Count(); i += 8)
    {
        <table>
            <tr>
                @if (i < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i].Imagen)" alt="Imagen" width="@HW" height="@HW" />
                                <div>@Model[i].Descripcion</div>
                            </a>
                        </div>
                    </td>
                }
                @if ((i + 1) < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i+1].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i+1].Imagen)" alt="Imagen" width="@HW" height="@HW" />
                                <div>@Model[i + 1].Descripcion</div>
                            </a>
                        </div>
                    </td>
                }
                @if ((i + 2) < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i+2].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i+2].Imagen)" alt="Imagen" width="@HW" height="@HW" style="padding-top:40px" />
                            </a>
                            <div>  @Model[i + 2].Descripcion</div>
                        </div>
                    </td>
                }
                @if ((i + 3) < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i+3].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i+3].Imagen)" alt="Imagen" width="@HW" height="@HW" style="padding-top:40px" />
                            </a>
                            <div>  @Model[i + 3].Descripcion</div>
                        </div>
                    </td>
                }
                @if ((i + 4) < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i+4].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i+4].Imagen)" alt="Imagen" width="@HW" height="@HW" style="padding-top:40px" />
                            </a>
                            <div>  @Model[i + 4].Descripcion</div>
                        </div>
                    </td>
                }
                @if ((i + 5) < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i+5].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i+5].Imagen)" alt="Imagen" width="@HW" height="@HW" style="padding-top:40px" />
                            </a>
                            <div>  @Model[i + 5].Descripcion</div>
                        </div>
                    </td>
                }
                @if ((i + 6) < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i+6].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i+6].Imagen)" alt="Imagen" width="@HW" height="@HW" style="padding-top:40px" />
                            </a>
                            <div>  @Model[i + 6].Descripcion</div>
                        </div>
                    </td>
                }
                @if ((i + 7) < Model.Count())
                {
                    <td>
                        <div class="content_image">
                            <a data-url="@Url.Content(string.Format("~/home/MostrarDetalleFamilia/{0}", Model[i+7].ID))" class="img-responsive">
                                <img src="@Url.Content(Model[i+7].Imagen)" alt="Imagen" width="@HW" height="@HW" style="padding-top:40px" />
                            </a>
                            <div>  @Model[i + 7].Descripcion</div>
                        </div>
                    </td>
                }
            </tr>
        </table>
    }
</div>