@model ARFood.Models.ViewModels.vmPedidos

@{
    Layout = null;
}

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QR Generate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="~/Content/Listas.css" rel="stylesheet" type="text/css">
</head>
<body>
    <form id="form1"  style="padding-top:50px; padding-left:450px;" runat="server" action="~/home/OrdenCreada" method="post">
        <div class="container">
            <h2>Orden Creada</h2>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Introduzca una orden para buscar</label>
                        <div class="input-group">
                            <input type="text" name="txtQRCode" class="form-control" value="@ViewBag.txtQRCode" />
                            <div class="input-group-prepend">
                                <button class="btn btn-success"  type="submit">Buscar Orden</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (ViewBag.imageBytes != null)
            {
                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(ViewBag.imageBytes))" height="400px" width="400px" />
            }
        </div>
        <div id="ListaProd">
            <table width="100%">
                <tr>
                    <td width="20%">
                        <label></label>
                    </td>
                    <td width="60%">
                        <ol id="listaCircular">
                            @foreach (var item in Model.GetDocPartidas)
                            {
                                <li>
                                    @item.Descripcion
                                    @if(item.Observaciones != null)
                                    {
                                        if(item.Observaciones.Length > 0)
                                        {
                                            <ol>
                                                Comentarios: @item.Observaciones
                                            </ol>
                                        }
                                    }
                                    @if (Model.GetDocPartidasPersonalizars.Count(x => x.IDProdPersonalizado == item.IDProd) > 0)
                                    {
                                        <ol>
                                            @{
                                                IEnumerable<ARFood.Models.DocPartidasPersonalizar> xComplementos = Model.GetDocPartidasPersonalizars.Where(x => x.IDProdPersonalizado == item.IDProd);
                                            }
                                            @foreach (var subItem in xComplementos)
                                            {
                                                <lisub>@subItem.Descripcion</lisub>
                                            }
                                        </ol>
                                    }
                                </li>
                            }
                        </ol>
                    </td>
                    <td width="20%">
                        <label></label>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <tr>
                    <td width="5%">
                        <input type="hidden" id="ProgramarMesa" name="ProgramarMesa" onclick="btnSelectSalon()" width="75px" value="Apartar Mesa">
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>