@model ARFood.Models.CocineroData

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<html>

<body>
    <div class="w3-container" id="ListaPedidoWeb">
        <input type="hidden" value="Abajo" onclick="Abajo()" />
        <input type="hidden" value="Arriba" onclick="Arriba()" />
        <input type="hidden" id="IDOrdenSeleccionada" value="0" />
        <input type="hidden" id="OrdenesSolicitadas" value="0" />
        <ul class="w3-ul w3-card-4 w3-ul w3-hoverable">

            @if (Model != null)
            {
                int i = 0;
                int e = 0;
                foreach (var ItemDoc in Model.GetDocumentos)
                {
                    int f = 0;
                    <li class="w3-bar" style="background-color:aquamarine">
                        <div class="w3-bar-item" style="border-style:inset">
                            <span class="w3-large">
                                @ItemDoc.Nombre
                            </span>
                            <div>
                                @foreach (var ItemPartida in Model.GetDocPartidas)
                                {
                                    if (ItemPartida.Surtido < ItemPartida.Cantidad)
                                    {
                                        string IDPartidaxPedido = i.ToString() + "_" + f.ToString();
                                        string xFoto = Model.GetProductos.Where(x => x.ID == ItemPartida.IDProd).FirstOrDefault().Imagen;
                                        f++;
                                        if (xFoto.Length < 1)
                                        {
                                            xFoto = "~/IMG/ARFood/Logo.jpeg";
                                        }
                                        <div class="w3-bar" id="IDPedido_@e">
                                            <img src="@Url.Content(xFoto)" class="w3-bar-item" style="width:200px;height:200px" onclick="ViewPedidoDetails(this)" id="img_@e" />
                                            <span class="w3-bar-item">@ItemPartida.Descripcion</span>
                                            <input type="hidden" id="IDPedidodb_@e" value="@ItemPartida.ID" />
                                            <input type="hidden" id="IDPedidoMesaID_@IDPartidaxPedido" value="@ItemPartida.IDProd" />
                                        </div>
                                        e++;
                                    }
                                }
                            </div>
                        </div>
                        <input type="hidden" id="IDPedidoMesaID_@i" value="@ItemDoc.ID" />
                        <input type="hidden" id="IDPedidoMesaIDM_@i" value="@ItemDoc.IDMesa" />
                    </li>
                    i++;
                }
                <input type="hidden" id="TotalPedidosARealizar" value="@e" />
            }
        </ul>
    </div>

</body>
</html>

<script>
    function Abajo() {
        var xOrder = document.getElementById("IDOrdenSeleccionada");
        indice = 0;
        indice = parseInt(xOrder.value) + 1;
        var xMax = document.getElementById("TotalPedidosARealizar");
        if (indice > xMax.value) {
            indice = xMax.value;
        }
        xOrder.value = indice;
        MueveSeleccion();
    }

    function Arriba() {
        var xOrder = document.getElementById("IDOrdenSeleccionada");
        indice = parseInt(xOrder.value) - 1;
        if (indice < 0) {
            indice = 0;
        }
        xOrder.value = indice;
        MueveSeleccion();
    }

    function MueveSeleccion() {
        var Tope = document.getElementById("TotalPedidosARealizar");
        for (i = 0; i < Tope.value; i++) {
            var xNodo = document.getElementById("IDPedido_" + i);
            xclass = document.createAttribute("style");
            xclass.value = "background-color:aquamarine;";
            xNodo.setAttributeNode(xclass);
        }
        var xOrder = document.getElementById("IDOrdenSeleccionada");
        var xSel = document.getElementById("IDPedido_" + xOrder.value);
        xclass = document.createAttribute("style");
        xclass.value = "background-color:darkturquoise;";
        xSel.setAttributeNode(xclass);
        xSel.scrollIntoView({ block: "start", behavior: "smooth" });
    }
</script>